@model CarMeetFinder.Models.MeetModels.MeetDetail

@{
    ViewBag.Title = "Details";
}

<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

<h2 id="indexHeader">About The Meet</h2>

<div>
    <hr />
    <dl class="dl-horizontal" id="detailswhite">
        <dt>
            @Html.DisplayNameFor(model => model.LocationOfMeet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationOfMeet)
        </dd>
        </br>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionOfMeet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionOfMeet)
        </dd>
        </br>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfMeet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfMeet)
        </dd>
        </br>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.MeetID }, new { @class = "actionlinkbacktolist" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "actionlinkbacktolist" }) |
    @Html.ActionLink("Delete", "Delete", null, new { id = Model.MeetID }, new { @class = "actionlinkbacktolist" })

</p>
