@model CarMeetFinder.Models.MeetModels.MeetDetail

@{
    ViewBag.Title = "Details";
}

<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

<h2 id="indexHeader">About The Meet</h2>

<div>
    <hr />

    <div class="card">
        <h1 id="headerOne">
            @Html.DisplayFor(model => model.LocationOfMeet)
            <br />
            <br />
            @Html.DisplayFor(model => model.DateOfMeet)
            <br />
            <br />
            @Html.DisplayFor(model => model.DescriptionOfMeet)
        </h1>
    </div>
    <hr />

</div>
<p>
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.MeetID }, new { @class = "actionlinkbacktolist" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "actionlinkbacktolist" }) |
    @Html.ActionLink("Delete", "Delete", null, new { id = Model.MeetID }, new { @class = "actionlinkbacktolist" })

</p>
