@model IEnumerable<CarMeetFinder.Models.MeetModels.MeetListItem>

@{
    ViewBag.Title = "Index";
}

<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">


<h2 id="indexHeader">Meets</h2>

<p>
    @Html.ActionLink("Click To Add A Meet", "Create", null, new { @class = "createnew" })
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MeetID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationOfMeet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionOfMeet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfMeet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsGoing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationOfMeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionOfMeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfMeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGoing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", null, new { id = item.MeetID }, new { @class = "actionlinkstuff" }) |
                @Html.ActionLink("Details", "Details", null, new { id = item.MeetID }, new { @class = "actionlinkstuff" }) |
                @Html.ActionLink("Delete", "Delete", null, new { id = item.MeetID }, new { @class = "actionlinkstuff" })
            </td>
        </tr>
    }

</table>


<div id="outer1">
    <div class="button_slide1 slide_left1">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Cars", "Index", "Car", null, new { @class = "actionlinkstuff" })
        }
    </div>
    <div class="button_slide slide_left">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Members", "Index", "Member", null, new { @class = "actionlinkstuff" })
        }
    </div>
    <div class="button_slide slide_left">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Meets", "Index", "Meet", null, new { @class = "actionlinkstuff" })
        }
    </div>
    <div class="button_slide slide_left">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("My Attendance", "Index", "Attendance", null, new { @class = "actionlinkstuff" })
        }
    </div>
</div>

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("i[data-toggle='star']")
                .css({ "cursor": "pointer" })
                .click(function (e) {
                    var target = $(e.target);
                    var noteId = target.attr("data-id");
                    var starSet = target.hasClass("glyphicon-star");

                    $.ajax({
                        method: starSet ? "DELETE" : "PUT",
                        url: "/api/note/" + noteId + "/star",
                        data: null
                    })
                        .done(function (r) {
                            target.removeClass();
                            target.addClass("glyphicon " + (starSet ? "glyphicon-star-empty" : "glyphicon-star"));
                        })
                        .fail(function (r) {
                            alert("Failed to change star status");
                        });
                });
        });</script>
}
