@model CarMeetFinder.Models.CarDetail
@{
    ViewBag.Title = "Details";
}

<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">


<h2 id="indexHeader">Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal" id="detailswhite">
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>
        </br>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        </br>


        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        </br>

        <dt>
            @Html.DisplayNameFor(model => model.Specifications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specifications)
        </dd>
        </br>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.CarID }, new { @class = "actionlinkbacktolist" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "actionlinkbacktolist" }) |
    @Html.ActionLink("Delete", "Delete", null, new { id = Model.CarID }, new { @class = "actionlinkbacktolist" })

</p>
