@model IEnumerable<CarMeetFinder.Models.CarListItem>

@{
    ViewBag.Title = "Index";
}
<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">


<h2 id="indexHeader">Cars</h2>

<p>
    @Html.ActionLink("Click To Add Your Car", "Create", null, new { @class = "createnew" })
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<hr />


@foreach (var item in Model)
{
    <div id="b1">
        <a href="">
            @Html.ActionLink(item.CarCombine, "Details", null, new { id = item.CarID }, new { @class = "actionlinkstuff" })
            <div id="b2"> </div>
            <div id="b3"></div>
        </a>
    </div>
}

<hr />

<div id="outer1">
    <div class="button_slide1 slide_left1">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Cars", "Index", "Car", null, new { @class = "actionlinkstuff" })
        }
    </div>
    <div class="button_slide slide_left">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Members", "Index", "Member", null, new { @class = "actionlinkstuff" })
        }
    </div>
    <div class="button_slide slide_left">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Meets", "Index", "Meet", null, new { @class = "actionlinkstuff" })
        }
    </div>
    <div class="button_slide slide_left">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("My Attendance", "Index", "Attendance", null, new { @class = "actionlinkstuff" })
        }
    </div>
</div>



