@model CarMeetFinder.Models.MemberModels.MemberDetail

@{
    ViewBag.Title = "Details";
}

<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

<h2 id="indexHeader">Details</h2>

<div>
    <h4 id="indexHeader">MemberDetail</h4>
    <hr />
    <dl class="dl-horizontal" id="detailswhite">
        <dt>
            @Html.DisplayNameFor(model => model.MemberID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberID)
        </dd>
        </br>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        </br>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.MemberID }, new { @class = "actionlinkbacktolist" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "actionlinkbacktolist" })
</p>
