@model IEnumerable<CarMeetFinder.Models.MemberModels.MemberListItem>

@{
    ViewBag.Title = "Members";
}
<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

<h2 id="indexHeader">Members</h2>

<p>
    @Html.ActionLink("Click To Tell Us About Yourself", "Create", null, new { @class = "createnew" })
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", null, new { id = item.MemberID }, new { @class = "actionlinkstuff" }) |
                @Html.ActionLink("Details", "Details", null, new { id = item.MemberID }, new { @class = "actionlinkstuff" }) |
                @Html.ActionLink("Delete", "Delete", null ,new { id = item.MemberID }, new { @class = "actionlinkstuff" })
            </td>
        </tr>
    }

</table>

<div id="outer1">
    <div class="button_slide1 slide_left1">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Cars", "Index", "Car", null, new { @class = "actionlinkstuff" })
        }
    </div>
    <div class="button_slide slide_left">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Members", "Index", "Member", null, new { @class = "actionlinkstuff" })
        }
    </div>
    <div class="button_slide slide_left">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Meets", "Index", "Meet", null, new { @class = "actionlinkstuff" })
        }
    </div>
    <div class="button_slide slide_left">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("My Attendance", "Index", "Attendance", null, new { @class = "actionlinkstuff" })
        }
    </div>
</div>
