@model CarMeetFinder.Models.AttendanceModels.AttendanceCreate

@{
    ViewBag.Title = "Create";
}

<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

<h2 id="indexHeader">Add A Meet You Attended</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AttendanceID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CarID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AttendanceID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MeetID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MeetID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MeetID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "actionlinkbacktolist" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
