@model CarMeetFinder.Models.AttendanceModels.AttendanceListItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AttendanceListItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttendanceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeetID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttendanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
