@model CarMeetFinder.Models.AttendanceModels.AttendanceListItem

@{
    ViewBag.Title = "Details";
}

<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

<h2 id="indexHeader">Attendance</h2>

<div>
    <hr />
    <dl class="dl-horizontal" id="detailswhite">
        @*<dt>
            @Html.DisplayNameFor(model => model.AttendanceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceID)
        </dd>
        </br>*@

        <dt>
            @Html.DisplayNameFor(model => model.MeetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meet.LocationOfMeet)
        </dd>
        </br>

        <dt>
            @Html.DisplayNameFor(model => model.CarID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.DisplayName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.AttendanceID }, new { @class = "actionlinkbacktolist" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "actionlinkbacktolist" })
</p>
