@model CarMeetFinder.Models.AttendanceModels.AttendanceListItem

@{
    ViewBag.Title = "Details";
}

<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

<h2 id="indexHeader">Attendance</h2>

<div>

    <div>
        <hr />
        <div class="card">
            <h1 id="headerOne">
                @Html.DisplayFor(model => model.Meet.LocationOfMeet)
                <br />
                @Html.DisplayFor(model => model.Car.DisplayName)
            </h1>
        </div>
        <hr />
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.AttendanceID }, new { @class = "actionlinkbacktolist" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "actionlinkbacktolist" })
</p>
@Html.DisplayFor(model => model.Meet.LocationOfMeet)
@Html.DisplayFor(model => model.Car.DisplayName)
