@model IEnumerable<CarMeetFinder.Models.AttendanceModels.AttendanceListItem>

@{
    ViewBag.Title = "Index";
}
<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <h2 id="indexHeader">Attendance</h2>
    <p>
        @Html.ActionLink("Click To Add A Meet You Attended", "Create", null, new { @class = "createnew" })
    </p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetID)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meet.LocationOfMeet)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", null, new { id = item.AttendanceID }, new { @class = "actionlinkstuff" }) |
                @Html.ActionLink("Details", "Details", null, new { id = item.AttendanceID }, new { @class = "actionlinkstuff" }) |
                @Html.ActionLink("Delete", "Delete", null, new { id = item.AttendanceID }, new { @class = "actionlinkstuff" })
            </td>
        </tr>
    }

</table>

<div id="outer1">
    <div class="button_slide1 slide_left1">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Cars", "Index", "Car", null, new { @class = "actionlinkstuff" })
        }
    </div>
    <div class="button_slide slide_left">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Members", "Index", "Member", null, new { @class = "actionlinkstuff" })
        }
    </div>
    <div class="button_slide slide_left">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Meets", "Index", "Meet", null, new { @class = "actionlinkstuff" })
        }
    </div>
    <div class="button_slide slide_left">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("My Attendance", "Index", "Attendance", null, new { @class = "actionlinkstuff" })
        }
    </div>
</div>
